:before {
  display: none;
  content: '';
}

body {
  background-color: #040413;
  background-image: linear-gradient(120deg, #040413, #2a052f);
  color: white;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 1rem;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1;
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;

  .list {
    flex: 1;
  }
}

h1 {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  text-align: center;

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 0.5rem;
    background-image: linear-gradient(to right, #feda84, #ff9b83, #976393, #685489, #43457f);
  }
}

p {
  & + p {
    margin-top: 0.5rem;
  }
}

a {
  font-weight: 700;
  color: #ff9b83;
}

.list {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin: 4rem -0.5rem;

  &:before {
    position: absolute;
    top: calc(50% - 3rem);
    left: calc(50% - 3rem);
    width: 6rem;
    height: 6rem;
    background: url('./thinking.png') no-repeat center/contain;
    animation: spin 1.5s linear infinite 250ms;
  }

  &:empty {
    &:before {
      display: block;
    }
  }

  &__item {
    flex-basis: 100%;
    width: 100%;
    padding: 0.5rem;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    &__item {
      flex-basis: 50%;
      width: 50%;
    }
  }

  @media screen and (min-width: 992px) {
    &__item {
      flex-basis: 33.3333333333%;
      width: 33.3333333333%;
    }
  }
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 2px;

  h3 {
    margin: 0 0 1rem;
  }

  &__tags {
    margin: 1rem -0.25rem;

    li {
      display: inline-block;
      margin: 0.25rem;
      padding: 0.25rem;
      border-radius: 2px;
      font-size: 0.75rem;
      font-weight: 700;
    }
  }

  &__actions {
    margin-top: auto;
  }
}

header,
footer {
  text-align: center;
}

footer {
  position: relative;
  padding: 1.5rem 1rem 1rem;
  font-weight: 700;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 0.5rem;
    background-image: linear-gradient(to right, #feda84, #ff9b83, #976393, #685489, #43457f);
  }
}

/* specific */
.tag {
  border-width: 1px;
  border-style: solid;
  border-color: white;
  color: white;

  &--html {
    background-color: #f6470e;
  }

  &--css {
    background-color: #3596d0;
  }

  &--javascript {
    background-color: #feee1d;
    border-color: black;
    color: black;
  }

  &--webpack {
    background-color: #91d7f7;
    border-color: #15496f;
    color: #15496f;
  }

  &--svelte {
    background-color: #fe3f00;
  }

  &--react {
    background-color: #0fbddc;
  }

  &--postcss {
    background-color: #f7c6b8;
    border-color: #dd3a0b;
    color: #dd3a0b;
  }

  &--styled-components {
    background-color: #db7093;
    border-color: #daa357;
  }

  &--npm {
    background-color: #c53635;
  }

  &--cli {
    background-color: black;
    border-color: #21e821;
    color: #21e821;
  }
}

/* generic */
[class*='tag--vue'] {
  background-color: #41b882;
  border-color: #35495d;
  color: #35495d;
}

[class*='gh-'] {
  background-color: #f8f8f8;
  border-color: black;
  color: black;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
